/* stylesheet */

*{
    /* border: 0.5px solid red; */
    font-family: serif;
    
}



.main{
display:flex;
flex-direction:column;
align-items:center;
width: 100%;
margin:-10px;

}

.headerbox{
    padding-top:10px;
    background-color: #1F2937;
    display:flex;
    flex-direction:column;
    height:700px;
    width: 100%;

}
.box1{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-left:200px; 
    padding-right:200px;
    /* position: fixed; */
}
h1,
.headerlogo{
    color:#f9faF8;
    font-weight: 1000;
    font-size:24px;
}
h1{
    font-size:48px;
}
.links{
    display:flex;
    list-style: none;
    gap:50px;
}

li{
    
    color:#e5e7eb;
    font-size:18px;
}

.boxtwo{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    height:100%;
    padding-left:200px; 
    padding-right:200px;
    padding-top:100px;
    padding-bottom:100px;
    gap:40px;
}

.textimagebox{
    height:100%;
    color:#e5e7eb;
    font-size:18px;
    
}

.img{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:80%;
    background-color: #e5e7eb7e;
    color:white;
}

button{
background: #3882F6;
border-radius:10px;
font-size:18px;
width:200px;
height:50px;
font-weight: 700;
color:white;
border-color:transparent;
}


.infobox{
    width:100%;
    height:700px;
    padding-top:20px;
    display:flex;
    flex-direction:column;
}

h2{
    color:#1f2937;
    font-weight: 1000;
    font-size:36px;
    text-align: center;
    margin-bottom:80px;
}

.infobox2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:80px;
}
.infobox1{
    width:200px;
    height:300px;
    display:flex;
    flex-direction:column;
}
.minibox{
    width:200px;
    height:200px;
    border-radius:15px;
    border:5px solid #3882F6;
}
.minitext{
    width:200px;
    height:100px;
    text-align:center;
    font-size:18px;
}


.quotebox{
    width:100%;
    height:500px;
    background: #e5e7eb;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
    align-items:center;
    
}
.quotebox p{
    text-align: left;
    color: #1f2937;
    font-size:36px;
    font-style:italic;
    width:950px;
    margin-bottom: 0;
}
.quotebox h3{
    margin-top: 0;
    text-align: right;
    color: #1f2937;
    font-size:26px;
    font-weight: 900;
    width:950px;
}

.signupbox{
    width:100%;
    height:500px;
    display:flex;
    justify-content: center;
    align-items:center;
    
}

.actionbox{
    width:90%;
    border-radius:15px;
    height:200px;
    background: #3882F6;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    padding-left:20px;
    padding-right:20px;
}
.textbox{
    width:60%;
}
.textbox h1{
    margin-bottom: 0px;
    font-size:24px;
}
.textbox p{
    margin-top: 0px;
    color:#bdbdbd;
    font-size:20px;
}
.buttonbox{
    border:3px solid white;
    border-radius:15px;
}

.lastbox{
    width:100%;
    height:100px;
    background-color: #1F2937;
    text-align:center;
    color: white;
    font-size:20px;
    line-height: 100px;
}


